
body{
    /*background-color: #1b1d1d;*/
    font-family: verdana;
}

h1{
    color: white;

}

a{
    color: red;

}

#center{
    margin: auto;
    width: 25%;
    border: 3px solid gray;
    padding: 10px;
    top-padding: 25%;
}
